/*
<!-- style.css -->
<!-- Par Elise Habert -->
<!-- Le 20-05-2020 -->
*/

@font-face {
    font-family: "phantom";
}

/*general*/

p {
    text-align: center;
    color: white;
}

/*main*/

.main {
    background-image: url("../img/EliseHabert-train.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    padding: 15% 15% 15% 15%;
}

/* subs */
.sub1
{
    background-color: orangered;
    padding: 5% 5% 5% 5%;
}

.sub2
{
    padding: 5% 5% 5% 5%;
}

.title
{
    padding: 2% ;
}

/*Texte*/
h1
{
    font-size: 4em;
    color: white;
    font-family: Helvetica, serif;
    text-align: center;
    margin: auto;
}

h2
{
    font-size: 3em;
    color: white;
    text-align: center;
    margin: auto;
}

.h2-black
{
    color: black;
}

h3
{
    color: black;
    font-size: 2em;
    text-align: center;
}

/*list*/

ul
{
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

li
{
    text-align: center;
}

/*Icons*/
.fas
{
    color: orangered;
}

/*lignes de separation*/

hr {
    margin-bottom:30px;
    margin-top:30px;
    max-width: 50px;
    border-width: 3px;
}

.hrOrange {
    border-color: orangered;
}

.hrBlanc {
    border-color: white;
}

/*bouton*/

.button
{
    border: 1px solid #fff;
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    transition: all 1s ease-in-out;
}
.button:hover
{
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s ease-in-out;
}
