/*style.css*/
/* créé par Elise Habert */
/* Le 02-05-2020 */

body
{
    width: 1000px;
    background-image: url("../img/etoileMort.jpg") ;
    background-repeat: no-repeat;
    background-color: black;
    position: center;
    margin: auto;
}

@font-face {
    font-family: "Starjedi";
    src: url("../font/Starjedi.ttf");
}

h1
{
    font-size: 140px;
    color: gold;
    text-align: center;
    /*Probleme avec la police*/
    font-family: Starjedi, serif;
    margin: 0;
}

h2, h3, h4
{
    color: white;
    text-align: center;
}

h2
{
    font-size: 72px;
}

h3
{
    font-size: 60px;
}

h4
{
    font-size: 44px;
}

p
{

    text-align:justify;
    color: white;
    font-size: 16px;
}
img
{
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.films
{
    color: gold;
}

/* lien non visité */
a:link
{
    color: white;
    text-decoration: underline;

}
/* lien visité */
a:visited
{
    color: gold;
    text-decoration: underline;

}
/* souris sur le lien */
a:hover
{
    text-decoration: underline;
}